.jumbotron {
  padding: 0;
  margin-top: 20px;
}

.jumbotron.home {
  background-image: url("../images/kanga_rose.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 507px;
}

/*
.jumbotron.publications {
  background-image: url("../images/kanga_baby.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 568px;
}
*/

.lead {
  padding-top: 10px;
  padding-left: 10px;
}

.header-img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.social-media-div {
  position: absolute;
  top: 40px;
  left: 20px;
}

.img-about {
  width: 100%;
  z-index: 100;
}

.col-about-left {
  padding-right: 0;
}

.col-about-right {
  padding-left: 0;
  margin-left: -1px;
}

.card {
  border: none;
  padding: 20px;
}

.row {
  margin-bottom: 10px;
}