.jumbotron {
  padding: 0;
  margin-top: 20px;
}

.jumbotron.home {
  background-image: url("../images/kanga_rose.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 760px;
  height: 507px;
  margin-left: 180px;
}